* {

    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

:root {
    --text-color: #2c3e50;
    --main-color: #00bc77;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
}




.logo {
    max-width: 100%;
    width: 200px;
}


.logo-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.SignIn-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SignIn-box img {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.SignIn-box p {
    color: #2c3e50;
    font-weight: bold;

}

.sign-out {
    display: flex;
    align-items: center;

    font-size: 1rem;
    background: unset;
    border: unset;
    text-align: center;
    height: 30px;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}