* {

    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

:root {
    --text-color: #2c3e50;
    --main-color: #00bc77;
}

footer {
    border-top: 2px solid #ccc;
    padding-top: 32px;
    padding-bottom: 24px;
}

.footer-text {
    color: var(--text-color);
    margin: 0;
    text-align: center;
}